[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ERC-3643"]
	path = lib/ERC-3643
	url = https://github.com/ERC-3643/ERC-3643
[submodule "lib/solidity"]
	path = lib/solidity
	url = https://github.com/onchain-id/solidity
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/onchain-id-solidity"]
	path = lib/onchain-id-solidity
	url = https://github.com/onchain-id/solidity.git
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
